fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic-settings
psycopg[binary]
httpx
python-multipart
google-analytics-data
python-dotenv
requests
email-validator
typing-extensions
gunicorn
google-generativeai